:root {
  --color-main: #5a7f78;
  --color-darker: #314c53;
  --color-lighter: #bbdec6;
  --color-basic-1: #010300;
  --color-basic-2: #f7f8fc;
  --color-basic-3: #676767;
  --padding-x: calc(1.5rem * 5);
}

body {
  min-width: 1024px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-main); 
}

.text-1 {font-family: 'Economica', sans-serif;}
.text-2 {font-family: 'Fira Sans', sans-serif;}

.btn {
  box-shadow:
    0 10px 20px #5a7f78ee,0 6px 6px #5a7f78ee,
    0 0 100px -10px var(--color-main);
  padding: 10px 25px;
  background: var(--color-main);
  color: var(--color-basic-2);
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 28px rgba(90, 127, 120, 0.25),
    0 10px 10px rgba(90, 127, 120, 0.22), 0 0 120px -10px var(--color-main);
}